<!-- posts/templates/posts/post_form.html --> 
{% extends 'base.html' %} 
{% block title %} 
  Bulletin Board - 
  {% if form.instance.pk %} 
    Edit 
  {% else %} 
    Create 
  {% endif %} 
  Post 
{% endblock %} 
{% block content %} 
  <h2> 
    {% if form.instance.pk %} 
      Edit 
    {% else %} 
      Create 
    {% endif %} 
    Post
    </h2> 
  <form method="post" action="{% if form.instance.pk %}{% url 'post_update' pk=form.instance.pk %}{% else %}{% url 'post_create' %}{% endif %}"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <button type="submit"> 
      Save 
    </button> 
  </form> 
  <a href="{% url 'post_list' %}">Back to Post List</a> 
{% endblock %}